$height-main: 100vh;
$wight-main: 100vw;
$box-shadow: 0 0 10px 10px rgba(221, 221, 221, 1);

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.login-container {
    height: $height-main;
    width: $wight-main;
    @include flex-center();
}

.login-inputs {
    height: 40vh;
    width: 50vw;
    border: 1px solid black;
    @include flex-center();
    flex-direction: column;
    box-shadow: $box-shadow;
    border-radius: 1rem;

    input {
        height: 3vh;
        width: 50%;
        text-indent: 1rem;
        margin: 1rem;
        border-radius: .5rem;
    }
}

.login-button {
    height: 5vh;
    width: 5vw;
    border: 1px solid black;
    border-radius: .5rem;
    transition: .3s;
    background: white;
    color: black;
}

.login-button:hover {
    transform: scale(1.05);
    background: black;
    color: white;
}