.search {
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 70%;
    height: 60%;
    border-radius: .5rem;
    border: none;
    text-indent: 1rem;
    transition: .3s;
    font-size: 1rem;
}

.search-input:hover {
    transform: scale(1.05);
}

.search-button {
    width: 20%;
    height: 60%;
    border-radius: .5rem;
    border: none;
    margin-left: 1rem;
}

/* for mobile screen */

@media (max-width: 768px) {
    .search-input {
        font-size: .5rem;
        text-indent: .5rem;
    }
  }


