.left-bar {
    width: 25%;
    height: 100%;
    background: gray;
    color: white;
}

.left-bar-content {
    height: 83%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: .8rem;
}

/* for mobile screen */

@media (max-width: 768px) {
    .left-bar-content {
        font-size: .6rem;
    }
  }