@mixin flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

@mixin height_and_width($height, $width) {
  height: $height;
  width: $width;
}

$white: #fff;
$black: #000;

.left-bar {
    @include height_and_width(100%, 25%);
    background: gray;
    color: $white;
}

.left-bar-content {
    @include height_and_width(fit-content, auto);
    @include flex-center;
    flex-direction: column;
    font-size: .8rem;
  }

.left-bar-li {
  @include height_and_width(fit-content, 100%);
  @include flex-center();

  li {
    @include height_and_width(3vh, 90%);
    @include flex-center();
    background: $white;
    color: $black;
    font-size: 1rem;
    margin-top: 1rem;
    border-radius: .5rem;
    list-style-type: none;
  }
}
  
  .left-bar-content button {
    @include height_and_width(2rem, 85%);
    margin-top: 1rem;
    border-radius: .5rem;
    border: none;
    background: white;
    transition: .3s;
  }

  .left-bar-content button:hover {
    transform: scale(1.05);
  }

  .left-bar-form {
    @include height_and_width(5%, auto);
    @mixin left-bar-form {
      height: 100%;
      border-radius: .5rem;
      border: none;
      background: white;
    }
    
    @include flex-center();

    input {
      width: 70%;
      margin-right: 1rem;
      text-indent: 1rem;
      @include left-bar-form();
    }

    button {
      width: 20%;
      @include left-bar-form();
    }
  }

/* for mobile screen */

@media (max-width: 768px) {
    .left-bar-content {
        font-size: .6rem;
    }
  }