@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 10%;
    width: 100%;
    @include flex-center();
}

.header-user {
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
}

/* for mobile screen */

@media (max-width: 768px) {
    .header-user {
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
    }
  }