.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
.main-container {
    display: flex;
    height: 95vh;
    width: 80vw;
    box-shadow: 0 0 10px 10px rgba(221, 221, 221, 1);
  }
  
.main-content {
    width: 80%;
    display: block;
    justify-content: center;
    align-items: center;
  }

.main-chat {
  height: 100%;
  width: 100%;
}

.main-messages {
  height: 90%;
}

.main-chat-input {
  height: 10%;
  display: flex;
  justify-content: center;
}

.main-chat-input input {
  height: 50%;
  width: 80%;
  border: 1px solid black;
  border-radius: 1rem;
  text-indent: 1rem;
}

.main-chat-input button {
  height: 55%;
  width: 6%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 1rem;
  border: 1px solid black;
  background: white;
}

/* for mobile screen */

/* @media (max-width: 768px) {
  .main-image-preload img {
    height: 30%;
  }

  .main-text-preload {
    font-size: 1rem;
  }
} */