.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
.main-container {
    display: flex;
    height: 95vh;
    width: 80vw;
    border: 1px solid black;
  }
  
.main-content {
    width: 80%;
    display: block;
    justify-content: center;
    align-items: center;
  }

.main-image-preload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.main-image-preload img {
  height: 70%;
  border-radius: 1rem;
}

.main-text-preload {
  display: flex;
  justify-content: center;
  height: 25%;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .main-image-preload img {
    height: 30%;
  }

  .main-text-preload {
    font-size: 1rem;
  }
}