.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 50%;
    height: 80%;
    border: 1px solid black;
    background: green;
}

.main-content {
    height: 80%;
    width: 100%;
    border: 1px solid yellow;
}