@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin height_and_width($height, $width) {
  height: $height;
  width: $width;
}

$height-main: 100vh;
$wight-main: 100vw;
$box-shadow: 0 0 10px 10px rgba(221, 221, 221, 1);
$white: #fff;
$black: #000;

.main {
  @include flex-center;
  width: $wight-main;
  height: $height-main;
}

.main-container {
  @include height_and_width(95vh, 80vw);
  display: flex;
  box-shadow: $box-shadow;
}

.main-content {
  @include height_and_width(auto, 80vw);
  display: block;
  position: relative; 
}

.main-chat {
  @include height_and_width(100%, 100%);
  display: flex;
  flex-direction: column; 
  position: absolute;
  bottom: 0; 
}

.main-messages {
  @include height_and_width(calc(100% - 10%), 100%);
  overflow-y: scroll;
  position: absolute; 
  top: 0;

  p {
    background-color: #f1f0f0;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin: 1rem;
  }
}

.my-message {
  background-color: #dcf8c6;
}

.other-message {
  background-color: #fff;
}

.main-chat-input {
  @include height_and_width(10%, 100%);
  @include flex-center();
  position: absolute; 
  bottom: 0; 
}

.main-chat-input input {
  @include height_and_width(50%, 80%);
  border: 1px solid $black;
  border-radius: 1rem;
  text-indent: 1rem;
}

.main-chat-input button {
  @include height_and_width(55%, 6%);
  @include flex-center();
  border-radius: 50%;
  font-size: 1.5rem;
  margin-left: 1rem;
  border: 1px solid $black;
  background: $white;
}

.no-chat-selected {
  @include height_and_width(100%, 100%);
  display: block;
}

.no-chat-image {
  height: 75%;
  width: 100%;
  @include flex-center();
}

.main-no-message {
  @include height_and_width(100%, 100%);
  @include flex-center();
  flex-direction: column;

  p {
    background: $white;
    font-size: 2rem;
  }

  img {
    @include height_and_width(60%, 30%);
    border-radius: 1rem;
  }
}

/* for mobile screen */ 

 @media (max-width: 768px) {
  .no-chat-image img {
    @include height_and_width(30%, auto);
  }

  .no-chat-text {
    font-size: 1rem;
  }
}