$height-main: 100vh;
$wight-main: 100vw;
$box-shadow: 0 0 10px 10px rgba(221, 221, 221, 1);

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  @include flex-center;
  width: $wight-main;
  height: $height-main;
}

.main-container {
  display: flex;
  height: 95vh;
  width: 80vw;
  box-shadow: $box-shadow;
}

.main-content {
  width: 80%;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.main-chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; 
  position: absolute;
  bottom: 0; 
}

.main-messages {
  height: calc(100% - 10%); 
  overflow-y: scroll;
  width: 100%;
  position: absolute; 
  top: 0;

  p {
    background-color: #f1f0f0;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin: 1rem;
  }
}

.my-message {
  background-color: #dcf8c6;
}

.other-message {
  background-color: #fff;
}

.main-chat-input {
  height: 10%;
  @include flex-center();
  width: 100%;
  position: absolute; 
  bottom: 0; 
}

.main-chat-input input {
  height: 50%;
  width: 80%;
  border: 1px solid black;
  border-radius: 1rem;
  text-indent: 1rem;
}

.main-chat-input button {
  height: 55%;
  width: 6%;
  border-radius: 50%;
  @include flex-center();
  font-size: 1.5rem;
  margin-left: 1rem;
  border: 1px solid black;
  background: white;
}

.no-chat-selected {
  height: 100%;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}

.no-chat-image {
  height: 75%;
  width: 100%;
  @include flex-center();
}

.no-chat-text {
  height: 25%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

/* for mobile screen */ 

 @media (max-width: 768px) {
  .no-chat-image img {
    height: 30%;
  }

  .no-chat-text {
    font-size: 1rem;
  }
}